$text-color-green:#009b4d;
$text-color-light-grey: #2b292d99;
$light-grey:#F4F5F7;
$text-color-blue: #3142c6;
$color-dark: #2b292d;
$color-bg-color-light: #00A1C612;
$color-bg-color-white: #ffffff;
$color-bg-color-pink: #f3c6bd;


$color-color-blue-button:#3040c4;
$color-bg-color-blue: #3141C5;
$color-text-white: $color-bg-color-white;